@import "~bootstrap/dist/css/bootstrap.min.css";
.bodyDom {
  padding-top: 50px;
  margin-left: 650px;
}
#nav {
  position: fixed;
  margin-top: 0px;
  background: rgb(204, 249, 249);
}

#image {
  width: 25px;
  height: 25px;
  background: none;
}
